Django==1.10.5
django-flat-responsive
django-pure-pagination
django-dropbox
django-pagseguro
django-paypal
django-ship
django-feedly
BeautifulSoup==3.2.1
argparse==1.2.1
gdata==2.0.16
gunicorn==0.13.4
httplib2==0.9.1
oauth==1.0.1
oauth2==1.5.211
psycopg2==2.4.4
requests==2.7.0
wsgiref==0.1.2
